@import "../../../styles/variables.scss";
.title {
    font-family: $titleFont;
    width: 100%;
    text-transform: uppercase;
}
.form {
    display: flex;
    flex-direction: column;
    width: 100%;

    label {
        display: flex;
        flex-direction: column;
        color: $white;
        text-transform: uppercase;
        padding: 1.2rem 0;
        font-size: 1.1rem;
    }
    input,
    textarea,
    select {
        padding: 0.5rem;
        background-color: transparent;
        border: 0;
        border-bottom: 1px solid #fff;
        font-size: 16px;
        padding: 0.5rem 0.2rem;
        outline: 0;
        font-family: $textFont;
        &[type="file"] {
            button {
                background-color: #fff;
            }
        }
    }
    select {
        text-transform: uppercase;
    }
    button {
        background-color: $black;
        border: 0;
        padding: 0.7rem 0.5rem;
        color: $red;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 3px;
        font-family: $textFont;
        &:hover {
            cursor: pointer;
            background-color: $white;
        }
        &[disabled] {
            opacity: 0.5;
        }
    }
}

@media (min-width: $screen-md) {
}
@media (min-width: $screen-lg) {
    .form {
        width: 50%;
    }
    .container {
        padding: 1rem;
    }
}

@media (min-width: $screen-xl) {
}
