@import "../../styles/variables.scss";

.titleSection {
    color: $white;
    text-transform: uppercase;
    font-family: $titleFont;
    font-size: 28px;
    padding: 0.5rem 0;
}

@media (min-width: 1024px) {
    .titleSection {
        font-size: 52px;
    }
}
@media (min-width: 1380px) {
    .titleSection {
        font-size: 72px;
    }
}
