@import "../../styles/variables.scss";

.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 1rem;
    z-index: 4;
    top: 0;

    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 35%, rgba(0, 0, 0, 0) 100%);
    .navbarLinks {
        display: none;
    }
    transition: all 0.3s ease-in;
}
.interiorismoBtn {
    border: 2px solid brown;
    padding: 5px 8px;
    a {
        color: brown !important;
        &:hover {
            transition: color 0.1s ease-in;
            color: $white !important;
        }
    }
}

@media all and (min-width: 1024px) {
    .navbar {
        padding: 1rem 2rem;
        width: 100%;
        .navbarIconHamburg {
            display: none;
        }
        .navbarLinks {
            display: flex;
            margin: auto;
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 60vw;
                li {
                    list-style: none;
                    a {
                        color: $white;
                        font-family: $titleFont;
                        text-transform: uppercase;
                        font-size: 20px;
                        &:hover {
                            transition: color 0.1s ease-in;
                            color: $red;
                        }
                    }
                }
            }
        }
    }
}
@media all and (min-width: 1400px) {
    .navbar {
        padding: 1rem 6rem;
        .navbarLinks {
            display: flex;
            ul {
                width: 600px;
            }
        }
    }
}
