@import "../../styles/variables.scss";

.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0 1rem;
    z-index: 4;
    top: 0;
    letter-spacing: 2px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 35%, rgba(0, 0, 0, 0) 100%);
    .navbarLinks {
        display: none;
    }
    transition: all 0.3s ease-in;
    .interiorismoBtn {
        background-color: $brown;
        padding: 5px 8px;
    }
}

@media all and (min-width: 1024px) {
    .navbar {
        padding: 1rem 2rem;
        width: 100%;
        .navbarIconHamburg {
            display: none;
        }
        .navbarLinks {
            display: flex;
            margin: auto;
            img {
                transition: transform 0.1s ease-in;
                &:hover {
                    transform: scale(1.1);
                }
            }
            ul {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 60vw;
                li {
                    list-style: none;
                    a {
                        color: $white;
                        font-family: $textFont;
                        text-transform: uppercase;
                        font-size: 20px;
                        &:hover {
                            transition: color 0.1s ease-in;
                            color: $red;
                            font-weight: bold;
                            text-decoration: wavy;
                        }
                    }
                }
            }
        }
        .interiorismoBtn {
            padding-bottom: 0;
            padding-top: 3rem;
            margin-top: -4rem;
            box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.171);
            border-radius: 0 0 10px 10px;
            a {
                height: 100px;
                position: relative;
                display: flex;
                align-items: flex-end;
                padding-bottom: 32px;

                &:hover {
                    transition: opacity 0.1s ease-in;
                    cursor: pointer;
                    color: $black !important;
                    filter: opacity(0.7);
                }
            }
        }
    }
}
@media all and (min-width: 1400px) {
    .navbar {
        padding: 1rem 6rem;
        .navbarLinks {
            display: flex;
            ul {
                width: 800px;
            }
        }
    }
}
