@import ".../../styles/variables.scss";

.header {
    position: relative;
    margin-bottom: 1rem;
    .textHeader {
        padding: 0 1rem;
        svg {
            position: absolute;
            bottom: 0rem;
            left: 1rem;
            z-index: 2;
            width: 60%;
        }
        h1 {
            position: absolute;
            bottom: 0rem;
            left: 1rem;
            z-index: 2;
            font-family: $titleFont;
            font-size: 2rem;
            color: $white;
            text-transform: uppercase;
        }
        h2 {
            position: absolute;
            bottom: 0rem;
            left: 1rem;
            z-index: 2;
            font-family: $textFont;
            font-size: 2rem;
            color: $white;
            text-transform: uppercase;
        }
        p {
            color: $white;
            font-family: $textFont;
            position: absolute;
            bottom: -2rem;
            left: 1rem;
            z-index: 2;
        }
    }
    .bg {
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.7063200280112045) 42%, rgba(238, 48, 35, 1) 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
    }
    .imgHeaderDesktop {
        height: 200px;
    }
}
.container {
    padding: 6rem 0.5rem;
}

@media (min-width: 1024px) {
    .header {
        margin-bottom: 0;
        .textHeader {
            svg {
                width: 40%;
                bottom: 4.5rem;
                left: 2rem;
            }
            h1,
            h2 {
                bottom: 4rem;
                left: 4rem;
                font-size: 4rem;
            }

            p {
                font-size: 2rem;
                bottom: 1rem;
                left: 2rem;
            }
        }
        .imgHeaderDesktop {
            height: 420px;
        }
    }
    .container {
        padding: 10rem 2rem;
    }
}

@media (min-width: 1400px) {
    .container {
        padding: 14rem 2rem;
    }
    .header {
        .textHeader {
            h1,
            h2 {
                left: 20%;
            }
        }
    }
}
