.inputLabel {
    border: 1px solid #fff;
    padding: 1rem !important;
    background-color: rgba(255, 255, 255, 0.1);
    &:hover {
        cursor: pointer;
        filter: invert(1);
    }
}
.imagesZone {
    display: flex;
    padding-bottom: 1rem;
    flex-wrap: wrap;
    & > div {
        margin-right: 5px;
    }
    .btnDelete {
        position: absolute;
        padding: 5px;
        color: #fff;
        background-color: #0000009e;
        font-size: 10px;
    }
}
