@import "../../../styles/variables.scss";

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-family: $textFont;
    font-size: 12px;
    font-weight: 800;
    color: $black;
    margin: auto;
    a {
        &:hover {
            cursor: pointer;
            filter: invert(1);
        }
    }
    & > div {
        display: flex;
        align-items: center;
    }
    button {
        background-color: transparent;
        border: 1px solid $black;
        font-family: $titleFont;
        font-size: 1rem;
        padding: 4px 8px;
        margin-left: 12px;
        &:hover {
            cursor: pointer;
            filter: invert(1);
        }
    }
}

@media (min-width: $screen-lg) {
    .nav {
        font-size: 22px;
        width: 75%;
        padding-bottom: 4rem;
    }
    .secondNav {
        justify-content: flex-end;
        box-shadow: none;
    }
}

@media (min-width: $screen-xl) {
}
