@import "../../styles/variables.scss";

.footer {
    font-family: $textFont;
    color: $white;
    background-color: $red;
    .items {
        padding: 1rem;
    }
    .marca {
        display: flex;
        align-items: center;
        img {
            padding-right: 50px;
        }
    }
}

@media (min-width: 1024px) {
    .footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1.5rem;
        .items {
            padding: 1rem;
        }
    }
}
