@import "../../styles/variables.scss";

.footer {
    font-family: $textFont;
    color: $white;
    .items {
        padding: 1rem;
        svg {
            width: 30px;
            height: 30px;
        }
        .formLink {
            padding: 12px 16px;
            background-color: $red(255, 255, 255, 0.63);
            border: 1px outset rgb(255, 255, 255, 0.2);
            width: 220px;
            border-radius: 5px;
            color: $white;
            margin: 1rem 0;
            text-transform: uppercase;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),
                0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
            transition: all 0.1s ease-in-out;
            &:hover {
                background-color: rgba(255, 255, 255, 0.8);
                color: $black;
            }
        }
        .socialBrand {
            display: flex;
            align-items: center;
            padding: 4px 0;
        }
        a {
            &:hover {
                filter: invert(1);
            }
        }
    }
    .marca {
        display: flex;
        align-items: center;
        img {
            padding-right: 50px;
        }
    }
}
.poweredBy {
    width: 100%;
    background-color: $red;
    text-align: center;
    padding: 0.5rem;
    display: block;
    font-family: $textFont;
    letter-spacing: 2px;
}

@media (min-width: 1024px) {
    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        .items {
            padding: 1rem;
            font-size: 1.1rem;
        }
    }
}
