@import "../../styles/variables.scss";

.wrapper {
    display: flex;
    flex-wrap: wrap;
    .card {
        position: relative;
        width: 45%;
        margin: 2.5%;
        &:first-child {
            margin-left: 0;
        }
        height: 150px;
        background-position: center;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        text-align: center;
        p {
            font-family: $textFont;
            font-weight: 800;
            font-size: 1.5rem;
            color: $white;
            z-index: 2;
            text-transform: uppercase;
        }
        svg {
            z-index: 1;
            min-width: 100px;
        }
        .bg {
            background: rgba(0, 0, 0, 0.8);
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            top: 0;
            transition: background 0.2s ease;
        }
    }
}

@media (min-width: $screen-lg) {
    .wrapper {
        .card {
            width: 28%;
            height: 250px;
            padding: 4rem;
            p {
                font-size: 2rem;
                letter-spacing: 2px;
            }
            &:hover {
                .bg {
                    background: rgba(0, 0, 0, 0.4);
                }
            }
        }
    }
}
