.blog-posts__container {
    width: 100%;
    margin: 8px auto;
    height: calc(100% - 48px);

    font-size: 20px;

    padding: 16px 0;
    border: 1px solid grey;
}

.blog-posts__title {
    text-align: center;

    padding-bottom: 16px;
    border-bottom: 1px solid grey;
}

.blog-post__button {
    cursor: pointer;

    margin-left: 16px;
}

.blog-post__preview {
    margin-top: 32px;
}

@media (min-width: 1280px) {
    .blog-post-editor__container {
        width: 80%;
        padding: 1rem;
    }
}
