@import "../styles/variables.scss";

.blog {
    background-color: $red;
    min-width: 100vw;
}

// @media (min-width: $screen-md) {
// }
@media (min-width: $screen-lg) {
    .container {
        max-width: 1200px;
        margin: auto;
    }
}

@media (min-width: $screen-xl) {
}
