@import "../styles/variables.scss";

.header {
    display: flex;
    height: 75vh;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 15%, rgba(0, 0, 0, 0) 100%);
    .textHeader {
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            width: 180px;
            filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.897));
        }
    }
    video {
        position: fixed;
        z-index: -1;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        opacity: 1;
    }
}

.editoriales {
    position: relative;
    padding: 2rem 0;
    margin-top: 4rem;
    height: 200px;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        filter: drop-shadow(2px 3px 3px rgba(0, 0, 0, 0.897));
        width: 50%;
    }
}
.container {
    padding: 6rem 0.5rem;
    background-color: $red;
}

@media (min-width: 1024px) {
    .header {
        height: 85vh;
        .imgHeaderDesktop {
            display: block;
        }
        .imgHeaderMobile {
            display: none;
        }
        .textHeader {
            svg {
                width: 350px;
            }
        }
    }
    .container {
        padding: 8rem 2rem;
    }
    .editoriales {
        height: 400px;

        &:hover {
            transition: filter 0.2s ease-in-out;
            filter: brightness(1.2);
        }
        h2 {
            font-size: 4.5em;
            // left: 40%;
        }
    }
}

@media (min-width: 1400px) {
    .container {
        padding: 10rem 2rem;
    }
    .header {
        .textHeader {
            svg {
                width: 500px;
            }
        }
    }
    .editoriales {
        height: 600px;
    }
}
