@import "../styles/variables.scss";

.nosotros {
    background-color: $red;
    .container {
        max-width: 1500px;
        padding: 0 1.2rem;
        p {
            font-family: $textFont;
            color: $white;
        }
    }
}

@media (min-width: $screen-md) {
    .nosotros {
        .container {
            padding: 0 4rem 4rem 4rem;

            p {
                font-size: 1.3rem;
            }
        }
    }
}
@media (min-width: $screen-lg) {
    .nosotros {
        p {
            font-size: 1.4rem;
        }
    }
}

@media (min-width: $screen-xl) {
    .nosotros {
        p {
            font-size: 1.5rem;
        }
    }
}
