@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/HelveticaNeueLTProBlkCn.otf");
}
@font-face {
    font-family: "Brandon Grotesque";
    src: url("../fonts/NeutraText-Book.otf");
}

$red: rgb(238, 48, 35);
$black: #000;
$grey: rgb(239, 233, 231);
$white: #fff;
$titleFont: "Helvetica Neue";
$textFont: "Brandon Grotesque";
